<main>
  <div class="container">
      <div class="row">
        <div class="offset-2 col-10 py-sm-4 px-sm-4">
          <h5>マイページ</h5>
        </div>
      </div>
  </div>
  
    
      <div class="row">
          <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
              <h5><strong>登録情報</strong></h5>
              <div class="btn btn-sm btn-success">
                <% if @customer == current_customer %>
                <%=link_to  edit_customer_path(@customer.id) do %>
                    編集する
                <% end %>
                <% end %>
              </div>
            <table class="table table-hover table-inverse">
              <thead>
                <tr>
                  <th>氏名</th>
                  <th>カナ</th>
                  <th>郵便番号</th>
                  <th>住所</th>
                  <th>電話番号</th>
                  <th>メールアドレス</th>
                  <tr colspan="6"></tr>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= @customer.first_name %><%= @customer.last_name %></td>
                  <td><%= @customer.first_name_kana %><%= @customer.last_name_kana %></td>
                  <td><%= @customer.postal_code %></td>
                  <td><%= @customer.address %></td>
                  <td><%= @customer.telephone_number %></td>
                  <td><%= @customer.email %></td>
                  <td colspan="6"></td>
                </tr>
              </tbody>
            </table>
            
            <h5><strong>配送先</strong></h5>
            <div class="btn btn-sm btn-success">
                <%=link_to  address_index_path do %>
                  一覧を見る
                <% end %>
            </div>
            <h5><strong>注文履歴</strong></h5>
            <div class="btn btn-sm btn-success">
                <%=link_to  orders_path do %>
                  一覧を見る
                <% end %>
            </div>
          </div>
      </div>
   
    
</main>