<main>
  <div class="container">
    <div class="row">
      <div class="offset-2 col-10 py-sm-4 px-sm-4">
        <h5>商品編集</h5>
      </div>
    </div>
  </div>
  
      <div class="row">
          <div class=" mx-auto">
              <%= form_with model: @item, url: admin_item_path(@item.id) do |f| %>
              <p>商品画像</p>
                  <div class="form-group">
                    <%= f.file_field :item_image, accept: "image/*" %>
                  </div>
              <p>商品説明</p>
                  <div class="col-auto">
                    <p><%= @item.introduction %></p>
                  </div>
              <p>ジャンル</p>
              <p>税抜価格</p>
                  <div class="form-group">
                    <p><%= @item.price %></p>
                  </div>
              <%= f.submit '変更を保存', class: "btn-success" %>
              <% end %>
          </div>
      </div>
   
</main>