<main>
  <div class="container">
    <div class="row">
      <div class="offset-2 col-10 py-sm-4 px-sm-4">
        <h5>商品詳細</h5>
      </div>
    </div>
  </div>
  
      <div class="row">
          <div class="offset-2 col-10">
            <p><%= image_tag @item.get_image, size:'200x150' %></p>
          </div>
      </div>
  
      <div class="row">
          <div class="offset-5 col-7">
              <p>商品名</p>
                  <div class="col-auto">
                    <p><%= @item.name %></p>
                  </div>
              <p>商品説明</p>
                  <div class="col-auto">
                    <p><%= @item.introduction %></p>
                  </div>
              <p>ジャンル</p>
              <p>税抜価格</p>
                  <div class="form-group">
                    <p><%= @item.price %></p>
                  </div>
              <div class="btn btn-sm btn-success">
                <%=link_to edit_admin_item_path(@item) do %>
                  編集する
                <% end %>
              </div>
          </div>
      </div>
    
</main>