<main>
    <div class="container">
      <p class="text-center">
        <div class="row">
        <div class="mx-auto">
        <div>
          <p>
            ようこそ、ながのCAKEへ！
            <br>このサイトは、ケーキ販売のECサイトになります。
            <br>会員でない方も商品の閲覧はできますが、
            <br>購入には会員登録が必要になります。</br>
          </p>
        </div>
        </div>
        </div>
      </p>
        <div>
            <h5><strong>新着商品</strong></h5>
            <div class="row">
            <% @items.each do |item| %>
              <p><%= link_to item_path(item.id) do %>
              <%= image_tag item.get_image, size:'200x150' %></p>
              <% end %>
              <p><strong><%= item.name %></strong></p>
              <p><strong>¥<%= item.price %></strong></p>
            <% end %>
            </div>
        </div> 
        
    </div>
    <%= link_to 'すべての商品を見る>', items_path %>
</main>