<main>
  <div class="pull-left">
    <h5>ショッピングカート</h5>
  </div>
  
  <div class="btn btn-sm btn-danger">
    <%= button_to "カートを空にする", cart_items_destroy_all_path, method: :delete %>
  </div>
  
  
  
    <div class="conteiner">
      <div class="low">
          <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
            <table class="table table-hover table-inverse">
              <thead>
                <tr>
                  <th>商品名</th>
                  <th>単価(税込)</th>
                  <th>数量</th>
                  <th>小計</th>
                  <th></th>
                  <th colspan="5"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <% total = 0 %>
                  <% @cart_items.each do |cart_item| %>
                  <td><%= cart_item.item.name %></td>
                  <td><%= cart_item.item.with_tax_price%></td>
                  <td><%= form_with model: cart_item, url: cart_item_path(cart_item) do |f| %>
                  <%= f.select :amount, *[1..10] %><%= f.submit '変更', class: "btn-success" %>
                  <% end %></td>
                  <td><%= cart_item.subtotal%></td>
                  <% total +=  cart_item.subtotal %>
                  <td>
                    <div class="btn btn-sm btn-danger">
                      <%=link_to '削除する', method: :delete, "data-confirm" => "本当に削除しますか？" do %>
                      <% end %>
                    </div>
                  </td>
                  <td colspan="5"></td>
                </tr>
              </tbody>
                  <% end %>
            </table>
            
            <thead>
              <tr>
                <th>合計金額</th>
                <th colspan="1"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= total %></td>
                <td colspan="1"></td>
              </tr>
            </tbody>
            
            <div class="btn btn-sm btn-success">
              <%=link_to items_path do %>
                買い物を続ける
              <% end %>
            </div>
              
            <div class="btn btn-sm btn-success">
              <%=link_to new_order_path do %>
                情報入力に進む
              <% end %>
            </div>
              
          </div>
      </div>
    </div>
    
  
</main>