<main>
  <div class="container">
    <div class="row">
      <div class="offset-2 col-10 py-sm-4 px-sm-4">
        <h5>注文履歴詳細</h5>
      </div>
    </div>
  </div>
  <div>
    <h5><strong>購入者</strong></h5>
    <%= link_to admin_customer_path, @order_detail.first_name + @order_detail.last_name%>
  </div>
  <div>
  <h5><strong>注文日</strong></h5>
    <%= @order_detail.created_at %>
  </div>
  <div>
  <h5><strong>配送先</strong></h5>
    <%= @order_detail.postal_code %>
    <%= @order_detail.address %>
    <%= @order_detail.first_name + @order_detail.last_name %>
  </div>
  <div>
  <h5><strong>支払方法</strong></h5>
    <%= @order.payment_method %>
  </div>
  <div>
  <h5><strong>注文ステータス</strong></h5>
  <%= f.submit '更新', class: "btn-success" %>
  </div>
    <div class="conteiner">
      <div class="low">
          <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
            <table class="table table-hover table-inverse">
              <thead>
                <tr>
                  <th>商品名</th>
                  <th>単価(税込)</th>
                  <th>数量</th>
                  <th>小計</th>
                  <th>製作ステータス</th>
                  <th><th>
                  <th colspan="6"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <% @order_details.each do |order_detail| %>
                  <td><%= order_detail.item.name %></td>
                  <td><%= order_detail.item.price %></td>
                  <td><%= order_detail.item.amount %></td>
                  <td><%= order_detail.item.subtotal %></td>
                  <td></td>
                  <td><%= f.submit '更新', class: "btn-success" %></td>
                  <td colspan="6"></td>
                </tr>
              </tbody>
                  <% end %>
                  
            </table>
          </div>
      </div>
    </div>
    <div>
      <h5><strong>商品合計</strong></h5>
      <td><%= @total.round.to_s(:delimited)%></td></tr><% @total_payment = @total + 800 %>
    </div>
    <div>
      <h5><strong>送料</strong></h5>
      800
    </div>
    <div>
      <h5><strong>請求金額</strong></h5>
      <td><%= @total_payment.round.to_s(:delimited) %></td>
    </div>
</main>