<main>
    <div class="container">
      <div class="offset-2 col-10 py-sm-4 px-sm-4">
          <h5><strong>商品一覧</strong></h5><p>全<%= @items.count %>件</p>
      </div>
      <div class="row">
            <% @items.each do |item| %>
            <p><%= image_tag item.get_image, size:'200x150' %></p>
            <p><%=link_to item.name, item_path(item.id)%></p>
            <p>¥<%= item.price %></p>
            <% end %>
      </div>
      
    </div>
    <%= paginate @item %>
</main>